.login {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login h1 {
  font-size: 2em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}

.login .ui.button, .ui.input {
  margin-top: 15px;
}
